body {
    background-color: royalblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

img {
    margin-top: 75px;
    border-radius: 75px;
}

#contraseña {
    width: 200px;
    background-color: white;
    font-size: 20px;
    border-radius: 100px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px 5px auto 42%;
}

#contraseña::-webkit-input-placeholder {
    color: #adadad;
}


input[type="submit"] {
    width: 150px;
    background-color: slateblue;
    font-size: 20px;
    border-radius: 100px;
    padding: 10px;
    color: white;
    text-align: center;
    margin: 10px auto auto auto;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}

.recuperar {
    margin-top: 75px;
}

.recuperar:hover {
    text-decoration: underline;
}

.passwordgroup{
    display: flex;
    margin: 0 50% 0 10%;
}

@media screen and (min-width: 768px) {
    .passwordgroup {
        margin: 0 auto 0 auto;
        transform: translateX(0);
        position: relative;
    }
}

#mostrar {
    font-size: 25px;
    height: 50px;
    width: 50px;
    margin: 10px auto auto 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}